In [59]:
from VRTstatistics.datastore import DataStore

In [60]:
import pandas as pd

In [61]:
import numpy as np

In [62]:
ds = DataStore("combined.json")

In [63]:
ds.load()

In [64]:
pointcounts = ds.get_dataframe(predicate='"receiver.pc.renderer" in component_role', columns=["sessiontime", "component_role=points_per_cloud"])

In [65]:
pointcounts

,sessiontime,receiver.pc.renderer.0,receiver.pc.renderer.1,receiver.pc.renderer.2,receiver.pc.renderer.3
0,1.239,5549.0,NaN,NaN,NaN
1,1.239,NaN,46643.0,NaN,NaN
2,1.239,NaN,NaN,22178.0,NaN
3,1.240,NaN,NaN,NaN,65434.0
4,2.255,4454.0,NaN,NaN,NaN
...,...,...,...,...,...
223,57.690,NaN,NaN,NaN,62734.0
224,58.622,NaN,40458.0,NaN,NaN
225,58.689,13895.0,NaN,NaN,NaN
226,58.690,NaN,NaN,NaN,62598.0
227,58.757,NaN,NaN,28064.0,NaN

In [66]:
len(pointcounts)

228

In [67]:
ntiles = 4
nbins = len(pointcounts)//ntiles
nbins
_, binbins = pd.cut(pointcounts["sessiontime"], nbins, retbins=True, labels=False)

In [68]:
binbins = np.around(binbins, decimals=2)
binbins

array([ 1.18,  2.25,  3.26,  4.27,  5.28,  6.28,  7.29,  8.3 ,  9.31,
       10.32, 11.33, 12.34, 13.35, 14.36, 15.37, 16.38, 17.38, 18.39,
       19.4 , 20.41, 21.42, 22.43, 23.44, 24.45, 25.46, 26.47, 27.48,
       28.48, 29.49, 30.5 , 31.51, 32.52, 33.53, 34.54, 35.55, 36.56,
       37.57, 38.58, 39.58, 40.59, 41.6 , 42.61, 43.62, 44.63, 45.64,
       46.65, 47.66, 48.67, 49.68, 50.68, 51.69, 52.7 , 53.71, 54.72,
       55.73, 56.74, 57.75, 58.76])

In [69]:
session_time_bins = pd.cut(pointcounts["sessiontime"], nbins, labels=binbins[1:])

In [70]:
pointcounts["sessiontimeslot"] = session_time_bins

In [71]:
session_time_bins

/Users/jack/src/dis-git/VRTstatistics/.venv/lib/python3.9/site-packages/IPython/lib/pretty.py:778: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

0       2.25
1       2.25
2       2.25
3       2.25
4       3.26
       ...
223    57.75
224    58.76
225    58.76
226    58.76
227    58.76
Name: sessiontime, Length: 228, dtype: category
Categories (57, float64): [2.25 < 3.26 < 4.27 < 5.28 ... 55.73 < 56.74 < 57.75 < 58.76]

In [72]:
pointcounts["sessiontime"]

0       1.239
1       1.239
2       1.239
3       1.240
4       2.255
        ...
223    57.690
224    58.622
225    58.689
226    58.690
227    58.757
Name: sessiontime, Length: 228, dtype: float64

In [73]:
binbins[1:]

array([ 2.25,  3.26,  4.27,  5.28,  6.28,  7.29,  8.3 ,  9.31, 10.32,
       11.33, 12.34, 13.35, 14.36, 15.37, 16.38, 17.38, 18.39, 19.4 ,
       20.41, 21.42, 22.43, 23.44, 24.45, 25.46, 26.47, 27.48, 28.48,
       29.49, 30.5 , 31.51, 32.52, 33.53, 34.54, 35.55, 36.56, 37.57,
       38.58, 39.58, 40.59, 41.6 , 42.61, 43.62, 44.63, 45.64, 46.65,
       47.66, 48.67, 49.68, 50.68, 51.69, 52.7 , 53.71, 54.72, 55.73,
       56.74, 57.75, 58.76])

In [74]:
pointcounts

,sessiontime,receiver.pc.renderer.0,receiver.pc.renderer.1,receiver.pc.renderer.2,receiver.pc.renderer.3,sessiontimeslot
0,1.239,5549.0,NaN,NaN,NaN,2.25
1,1.239,NaN,46643.0,NaN,NaN,2.25
2,1.239,NaN,NaN,22178.0,NaN,2.25
3,1.240,NaN,NaN,NaN,65434.0,2.25
4,2.255,4454.0,NaN,NaN,NaN,3.26
...,...,...,...,...,...,...
223,57.690,NaN,NaN,NaN,62734.0,57.75
224,58.622,NaN,40458.0,NaN,NaN,58.76
225,58.689,13895.0,NaN,NaN,NaN,58.76
226,58.690,NaN,NaN,NaN,62598.0,58.76
227,58.757,NaN,NaN,28064.0,NaN,58.76

In [75]:
session_time_groups = pointcounts.groupby("sessiontimeslot")

In [76]:
def foo(g):
    colnames = ["receiver.pc.renderer.0", "receiver.pc.renderer.1", "receiver.pc.renderer.2", "receiver.pc.renderer.3"]
    g.assign(totalpointcount = g[colnames].sum(axis=1))

session_time_groups.apply(foo)

Empty DataFrame
Columns: []
Index: []

In [56]:
pc3

Empty DataFrame
Columns: []
Index: []